.container {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.container span {
  height: 2px;
  width: 25px;
  background: gray;
  margin-bottom: 4px;
  border-radius: 5px;
}

@media (max-width: 768px) {
 .container {
  display: flex;
 }
}
